---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Paweł Sobaniec" description="About Paweł Sobaniec">
  <div
    class="container mx-auto px-8 xl:max-w-[1250px] md:px-12 lg:px-20 py-4 md:py-8 lg:py-12"
  >
    <main>
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      />

      <section>
        <h2 class="font-semibold text-3xl mt-10">Background</h2>
        <div class="indent-4 mt-2 text-lg">
          Hey there! I'm a programmer who's been learning the ropes for a little
          over half a year now. I actually have some experience with coding from
          when I was a kid - back then, I dabbled in creating simple websites
          and forums using HTML and templates. But now, I'm taking on bigger
          challenges and using more advanced tools like React, Nextjs, and
          Typescript. <br />
          I'm really passionate about programming and love diving into new projects
          and exploring different programming languages. I find it incredibly satisfying
          to see an idea take shape through code and then come to life as a functional
          program.
          <br />
          Of course, being a programmer can be frustrating at times - there's always
          something new to learn, and there are inevitably going to be bugs and glitches
          to troubleshoot. But the satisfaction of finally solving a problem and
          getting everything working smoothly is definitely worth it.
          <br />
          When I'm not coding, you can usually find me reading books or catching
          up on the latest movies and TV shows. I'm also a big fan of video games
          and enjoy spending some of my free time playing online with friends.
          <br />
          Thanks for stopping by and learning a little bit more about me! If you
          have any questions or want to chat about programming, feel free to send
          me a message.
        </div>
      </section>
      <section>
        <h2 class="font-semibold text-3xl mt-10">Skills</h2>
        <div class="mt-2">
          <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript / Typescript</li>
            <li>React</li>
            <li>Nextjs</li>
            <li>Python</li>
          </ul>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
