---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import { Icon } from "astro-icon";
---

<BaseLayout title="About | Paweł Sobaniec" description="About Paweł Sobaniec">
  <div class="max-w-7xl mx-auto px-8 mt-10 hide-ui">
    <Hero
      title="Great to see you!"
      tagline="Thanks for stopping by. It means a lot for me. Read below to learn more about myself and my background."
    />
    <div class="md:flex flex-row-reverse block gap-5">
      <div class="flex-1">
        <img
          src="/assets/avatar.webp"
          class="rounded-lg shadow-lg shadow-zinc-400 dark:shadow-zinc-700 mt-10"
          width="500"
          height="500"
          loading="lazy"
          decoding="async"
        />
        <div class="mt-10 p-3">
          <h3 class="font-semibold text-xl mb-3">Socials</h3>
          <ul class="flex gap-1">
            <li>
              <a href="https://github.com/infiplaya"
                ><Icon
                  class="dark:text-zinc-100 transition hover:bg-zinc-100 dark:hover:bg-zinc-800 rounded-2xl p-1 text-zinc-800 hover:text-orange-500 dark:hover:text-orange-500 w-9 h-9 subpixel-antialiased"
                  name="mdi:github"
                /></a
              >
            </li>
            <li>
              <a href="https://www.linkedin.com/in/psobaniec09/"
                ><Icon
                  class="dark:text-zinc-100 transition hover:bg-zinc-100 dark:hover:bg-zinc-800 rounded-2xl p-1 text-zinc-800 hover:text-orange-500 dark:hover:text-orange-500 w-9 h-9 subpixel-antialiased"
                  name="mdi:linkedin"
                /></a
              >
            </li>
            <li>
              <a href="https://twitch.com/noctate12"
                ><Icon
                  class="dark:text-zinc-100 transition hover:bg-zinc-100 dark:hover:bg-zinc-800 rounded-2xl p-1 text-zinc-800 hover:text-orange-500 dark:hover:text-orange-500 w-9 h-9 subpixel-antialiased"
                  name="mdi:twitch"
                /></a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="flex-1">
        <section class="mt-20">
          <h2 class="font-semibold text-3xl mt-10">Background</h2>
          <article class="mt-5 prose prose-zinc dark:prose-invert">
            <p>
              Hey there! I'm a programmer who's been learning the ropes for a
              little over half a year now. I actually have some experience with
              coding from when I was a kid - back then, I dabbled in creating
              simple websites and forums using HTML and templates. But now, I'm
              taking on bigger challenges and using more advanced tools like
              React, Nextjs, and Typescript.
            </p>
            <p>
              I'm really passionate about programming and love diving into new
              projects and exploring different programming languages. I find it
              incredibly satisfying to see an idea take shape through code and
              then come to life as a functional program.
            </p>
            <p>
              Of course, being a programmer can be frustrating at times -
              there's always something new to learn, and there are inevitably
              going to be bugs and glitches to troubleshoot. But the
              satisfaction of finally solving a problem and getting everything
              working smoothly is definitely worth it.
            </p>
            <p>
              When I'm not coding, you can usually find me reading books or
              catching up on the latest movies and TV shows. I'm also a big fan
              of video games and enjoy spending some of my free time playing
              online with friends.
            </p>
            <p>
              Again, thanks for stopping by and learning a little bit more about
              me! If you have any questions or want to chat about programming,
              feel free to send me a message.
            </p>
          </article>
        </section>

        <section class="prose prose-zinc dark:prose-invert mt-10">
          <h2 class="font-semibold text-3xl -mb-5">Tech I Use</h2>
          <div class="mt-2 dark:text-zinc-300 text-zinc-700">
            <ul class="p-3">
              <li>HTML</li>
              <li>CSS</li>
              <li>Javascript / Typescript</li>
              <li>React</li>
              <li>Nextjs</li>
              <li>Graphql</li>
              <li>Prisma</li>
              <li>TRPC</li>
              <li>Python</li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>

  <ContactCTA />
</BaseLayout>

<script defer>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      console.log(entry);

      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });

  const hiddenElements = document.querySelectorAll(".hide-ui");
  hiddenElements.forEach((element) => observer.observe(element));
</script>
