---
import BaseLayout from "../layouts/BaseLayout.astro";

import { Image } from "@astrojs/image/components";

import Hero from "../components/Hero.astro";
import { Icon } from "astro-icon";
---

<BaseLayout title="About | Paweł Sobaniec" description="About Paweł Sobaniec">
  <main class="mx-auto mt-12 px-5">
    <img
      alt="avatar"
      src="/assets/avatar.png"
      class="mb-6 h-48 w-48 rotate-2 rounded-lg object-cover"
    />
    <Hero title="I'm Paweł. Great to see you!" />
    <div>
      <div>
        <section>
          <h2
            class="mt-10 bg-gradient-to-r from-sky-500 via-purple-500 to-sky-500 bg-clip-text text-3xl font-semibold text-transparent"
          >
            About me
          </h2>
          <article class="prose prose-zinc mt-5 dark:prose-invert">
            <p>
              Hey there! I'm a programmer who's been learning the ropes for a
              little over half a year now. I actually have some experience with
              coding from when I was a kid - back then, I dabbled in creating
              simple websites and forums using HTML and templates. But now, I'm
              taking on bigger challenges and using more advanced tools like
              React, Nextjs, and Typescript.
            </p>
            <p>
              I'm really passionate about programming and love diving into new
              projects and exploring different programming languages. I find it
              incredibly satisfying to see an idea take shape through code and
              then come to life as a functional program.
            </p>
            <p>
              Of course, being a programmer can be frustrating at times -
              there's always something new to learn, and there are inevitably
              going to be bugs and glitches to troubleshoot. But the
              satisfaction of finally solving a problem and getting everything
              working smoothly is definitely worth it.
            </p>
            <p>
              When I'm not coding, you can usually find me reading books or
              catching up on the latest movies and TV shows. I'm also a big fan
              of video games and enjoy spending some of my free time playing
              online with friends.
            </p>
            <p>
              Again, thanks for stopping by and learning a little bit more about
              me! If you have any questions or want to chat about programming,
              feel free to send me a message.
            </p>
          </article>
        </section>

        <section class="prose prose-zinc mt-10 dark:prose-invert">
          <h2
            class="-mb-5 bg-gradient-to-r from-sky-500 via-purple-500 to-sky-500 bg-clip-text text-3xl font-semibold text-transparent"
          >
            Tech I Use
          </h2>
          <div class="mt-2 text-zinc-700 dark:text-zinc-300">
            <ul class="p-3">
              <li>HTML</li>
              <li>CSS</li>
              <li>Javascript / Typescript</li>
              <li>React</li>
              <li>Nextjs</li>
              <li>Graphql</li>
              <li>Prisma</li>
              <li>TRPC</li>
              <li>Python</li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </main>
</BaseLayout>
