---
import { Icon } from "astro-icon";
import { getCollection } from "astro:content";
import Hero from "../components/Hero.astro";
import ProjectPreview from "../components/ProjectPreview.astro";
import SkillsMarquee from "../components/SkillsMarquee.astro";

import BaseLayout from "../layouts/BaseLayout.astro";

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout title={"Portfolio"}>
  <main class="px-5">
    <div class="mt-12">
      <img
        alt="avatar"
        src="/assets/avatar.png"
        class="mb-6 h-24 w-24 rounded-full object-cover"
      />
      <Hero title="Front-end Engineer">
        <p class="mt-6 text-gray-700 dark:text-gray-300">
          I’m Paweł, a web developer based in Poland. With a passion for using
          technology to improve people's lives, I'm dedicated to creating
          solutions that make a difference.
        </p>

        <ul class="mt-6 flex items-center gap-3">
          <li>
            <a href="https://github.com/infiplaya" target="_blank"
              ><Icon
                class="dark:text-gray-300 text-gray-700 hover:text-gray-800 dark:hover:text-gray-200 w-7 h-7"
                name="mdi:github"
              /></a
            >
          </li>
          <li>
            <a href="https://www.linkedin.com/in/psobaniec09/" target="_blank"
              ><Icon
                class="dark:text-gray-300 text-gray-700 hover:text-gray-800 dark:hover:text-gray-200 w-7 h-7"
                name="mdi:linkedin"
              /></a
            >
          </li>
        </ul>
      </Hero>
    </div>
    <section class="mt-12">
      <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
        About me
      </h2>
      <p class="mt-6 text-gray-700 dark:text-gray-300">
        I began my programming journey as a child tinkering with HTML and CSS.
        Over the past year, I've focused on mastering the fundamentals of
        JavaScript before delving deeper into the React ecosystem.
      </p>
      <SkillsMarquee />
    </section>
    <section class="mt-12">
      <h2 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
        Projects
      </h2>
      <div class="mt-3">
        {projects.map((project) => <ProjectPreview project={project} />)}
      </div>
    </section>
  </main>
</BaseLayout>
