---
import { getCollection } from "astro:content";

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";

// Page section components
import ContactCTA from "../components/ContactCTA.astro";
import Skills from "../components/Skills.astro";

// Content Fetching: List four most recent work projects
const projects = (await getCollection("work"))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
  .slice(0, 4);
---

<BaseLayout>
  <div
    class="flex flex-col px-8 xl:max-w-[1250px] xl:mx-auto items-center justify-center"
  >
    <div class="container mx-auto">
      <header
        class="grid lg:grid-cols-2 pt-12 lg:pt-28 justify-items-start gap-5 lg:items-center lg:w-full"
      >
        <Hero
          title={`Hello there! My name is ${" "} Paweł Sobaniec`}
          tagline="Thanks for stopping by and learning a little bit more about me! If you have any questions or want to chat about programming, feel free to send me a message."
          href="/about"
        />

        <img
          alt="Paweł Sobaniec profile picture"
          class="rounded-lg lg:hidden shadow-lg shadow-zinc-300 dark:shadow-zinc-700 w-72 mx-auto object-cover object-center mt-5"
          src="/assets/profile.png"
        />

        <div
          class="hidden lg:block lg:h-96 xl:h-[500px] xl:w-[500px] lg:w-96 justify-self-end relative"
        >
          <img
            alt="Paweł Sobaniec profile picture"
            class="rounded-lg border absolute inset-0 w-full object-cover h-full border-zinc-200 dark:border-zinc-800 shadow-lg dark:shadow-zinc-700 bg-zinc-100 dark:bg-zinc-900 object-top"
            src="/assets/profile.png"
          />
        </div>
      </header>

      <Skills />
    </div>

    <main class="flex flex-col mt-10 md:mt-14 w-full">
      <section>
        <header class="flex flex-col text-center lg:text-left gap-2 lg:gap-4">
          <h3 class="font-bold text-3xl lg:text-4xl">Selected projects</h3>
          <p class="font-medium text-zinc-600 dark:text-zinc-300 sm:text-lg">
            I believe making projects is the best way to learn. Take a look at
            them!
          </p>
        </header>

        <div>
          <Grid variant="offset">
            {
              projects.map((project) => (
                <li>
                  <PortfolioPreview project={project} />
                </li>
              ))
            }
          </Grid>
        </div>
        <a href="/work/">
          <div class="relative group">
            <div
              class="absolute -z-10 -inset-0.5 lg:w-44 bg-gradient-to-r from-orange-600 to-lime-600 rounded-lg blur opacity-75 group-hover:opacity-100 transition duration-1000 group-hover:duration-200"
            >
            </div>
            <div
              class="mt-10 mb-10 bg-zinc-900 text-zinc-50 p-3 lg:w-44 text-center rounded-lg"
            >
              View More
            </div>
          </div>
        </a>
      </section>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
