---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";

import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";
import ProjectPreview from "../components/ProjectPreview.astro";

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout
  title="My Projects | Paweł Sobaniec"
  description="Learn about Paweł Sobaniec's most recent projects"
>
  <div class="mx-auto mt-10 max-w-6xl px-8">
    <main class="mt-10 lg:mt-20">
      <div class="space-y-20">
        <Hero title="My Work" />
        <Grid>
          {
            projects.map((project) => (
              <li>
                <ProjectPreview project={project} />
              </li>
            ))
          }
        </Grid>

        <section>
          <h2 class="text-center text-3xl font-semibold lg:text-left">
            Other projects
          </h2>
          <p
            class="mt-3 text-center text-lg text-zinc-800 dark:text-zinc-100 lg:text-left"
          >
            Check out more of my smaller projects that are available on my <a
              href="https://github.com/infiplaya"
              class="font-medium text-orange-600 underline-offset-4 hover:underline dark:text-orange-400"
              >Github</a
            >
          </p>
        </section>
      </div>
      <ContactCTA />
    </main>
  </div>
</BaseLayout>

<script defer>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      console.log(entry);

      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });

  const hiddenElements = document.querySelectorAll(".hide-ui");
  hiddenElements.forEach((element) => observer.observe(element));
</script>
