---
const currentYear = new Date().getFullYear();
---

<footer
  class="px-10 py-12 lg:py-16 lg:px-20 dark:text-zinc-400 text-zinc-700 border-t-2 border-zinc-200 dark:border-zinc-800 md:flex md:items-center md:justify-between mt-10"
>
  <div class="flex flex-col items-center md:flex-row">
    <p>&copy; {currentYear} Paweł Sobaniec</p>
  </div>
  <p class="flex mt-5 justify-center gap-3">
    <a
      href="https://cryptosito.vercel.app"
      class="hover:underline underline-offset-4"
      target="_blank">Cryptosito</a
    >
    <a
      href="https://github.com/infiplaya"
      class="hover:underline underline-offset-4"
      target="_blank"
    >
      GitHub</a
    >
  </p>
</footer>
