---
interface Props {
  title: string;
  tagline?: string;
  href?: string;
}

const { title } = Astro.props;
---

<header>
  <div class="max-w-2xl">
    <h1
      class="text-4xl font-bold tracking-tight text-gray-800 dark:text-gray-100 sm:text-5xl"
    >
      {title}
    </h1>
  </div>
  <slot />
</header>
