---
interface Props {
  title: string;
  tagline?: string;
  href?: string;
}

const { title } = Astro.props;
---

<header>
  <div class="text-center lg:text-left">
    <h1 class="text-4xl lg:text-5xl font-poppins">{title}</h1>
  </div>
  <slot />
</header>
