---
interface Props {
  title: string;
  tagline?: string;
  href?: string;
}

const { tagline, title, href } = Astro.props;
---

<header>
  <div class="text-center lg:text-left mt-3">
    <h1 class="text-4xl lg:text-5xl font-bold tracking-tighter">{title}</h1>
    {
      tagline && (
        <p class="text-slate-700 xl:pt-2 indent-4 tracking-normal mt-3 dark:text-slate-200">
          {tagline}
          {href && (
            <a
              href={href}
              class="font-bold text-orange-600 dark:text-orange-400"
            >
              Check about me
            </a>
          )}
        </p>
      )
    }
  </div>
  <slot />
</header>
