---
import { Icon } from "astro-icon";
import ThemeToggle from "./ThemeToggle.astro";
---

<nav class="w-full p-5 flex justify-end">
  <div class="flex ">
    <button>Menu</button>
    <ThemeToggle />
  </div>
</nav>
