---
import type { CollectionEntry } from "astro:content";

import { Image } from "@astrojs/image/components";

interface Props {
  project: CollectionEntry<"work">;
}

const { data, slug } = Astro.props.project;
---

<a href={`/work/${slug}`} class="relative mt-10 group">
  <span
    class="font-semibold tracking-tighter text-zinc-900 z-50 absolute group-hover:scale-110 top-5 left-5 bg-orange-400 transition-transform py-1 px-3 rounded-lg"
    >{data.title}</span
  >
  <Image
    src={data.img}
    alt={data.img_alt || ""}
    class="w-full object-cover shadow-lg dark:shadow-zinc-500/20 rounded-lg group-hover:scale-110 transition-transform"
    width={728}
    height={420}
  />
</a>
