---
import { Icon } from "astro-icon";
---

<section
  class="border border-zinc-200 shadow-sm divide-y-2 lg:divide-y-0 dark:divide-zinc-700 divide-zinc-200 gap-5 dark:border-zinc-700 p-10 rounded-lg mt-20 flex flex-col lg:flex-row"
>
  <div class="flex flex-col gap-2 lg:gap-4 py-5">
    <Icon name="mdi:head-thinking-outline" class="w-12 text-orange-400" />
    <h2 class="font-bold text-2xl lg:text-3xl text-zinc-700 dark:text-zinc-300">
      Problem solving
    </h2>
    <p class="dark:text-zinc-300">
      As a developer you need to be comfortable with solving problems and
      critical thinking. I practice this skills by doing things.
    </p>
  </div>
  <div class="flex flex-col gap-2 lg:gap-4 py-5">
    <Icon name="carbon:crop-growth" class="w-12 text-orange-400" />
    <h2 class="font-bold text-2xl lg:text-3xl text-zinc-700 dark:text-zinc-300">
      Growth mindset
    </h2>
    <p class="dark:text-zinc-300">
      When I started learning coding I realized that as a programmer you never
      stop learning new things. That's why it's very important to be curious and
      have consistency.
    </p>
  </div>
  <div class="flex flex-col gap-2 lg:gap-4 py-5">
    <Icon name="icon-park-outline:respect" class="w-12 text-orange-400" />
    <h2 class="font-bold text-2xl lg:text-3xl text-zinc-700 dark:text-zinc-300">
      Empathy
    </h2>
    <p class="dark:text-zinc-300">
      It's important to treat other people with kindness and respect they
      deserve. This is not different in programming.
    </p>
  </div>
</section>
