---
import Icon from "./Icon.astro";
---

<section
  class="border border-slate-200 py-6 dark:border-slate-700 lg:px-16 lg:mx-16 sm:px-12 px-8 lg:py-12 md:px-8 rounded-lg flex flex-col lg:flex-row gap-10 mt-10 sm:mt-14 lg:mt-20"
>
  <div class="flex flex-col gap-2 lg:gap-4">
    <Icon icon="terminal-window" />
    <h2 class="font-bold text-2xl lg:text-4xl">React</h2>
    <p class="dark:text-slate-300">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
    </p>
  </div>
  <div class="flex flex-col gap-2 lg:gap-4">
    <Icon icon="trophy" />
    <h2 class="font-bold text-2xl lg:text-4xl">Typescript</h2>
    <p class="dark:text-slate-300">
      Neque viverra justo nec ultrices dui. Est ultricies integer quis auctor
      elit.
    </p>
  </div>
  <div class="flex flex-col gap-2 lg:gap-4">
    <Icon icon="strategy" />
    <h2 class="font-bold text-2xl lg:text-4xl">NextJS</h2>
    <p class="dark:text-slate-300">
      Urna porttitor rhoncus dolor purus non enim praesent ornare.
    </p>
  </div>
</section>
