---
import { Icon } from "astro-icon";
---

<theme-toggle>
  <button class="flex gap-5">
    <span class="sr-only">Dark theme</span>
    <Icon
      class="dark:hidden p-2 w-10 h-10 subpixel-antialiased bg-gray-200 rounded-xl text-gray-600 hover:text-gray-700 border border-gray-300 hover:border-gray-400"
      name="ph:moon-stars-light"
    />

    <Icon
      class="hidden dark:inline-block p-2 w-10 h-10 subpixel-antialiased dark:bg-gray-800 dark:text-gray-400 hover:dark:text-gray-300 rounded-xl border border-gray-700 hover:border-gray-600"
      name="ph:sun-light"
    />
  </button>
</theme-toggle>

<script>
  class ThemeToggle extends HTMLElement {
    constructor() {
      super();

      const button = this.querySelector("button")!;

      /** Set the theme to dark/light mode. */
      const setTheme = (dark: boolean) => {
        document.documentElement.classList[dark ? "add" : "remove"]("dark");
        button.setAttribute("aria-pressed", String(dark));
      };

      // Toggle the theme when a user clicks the button.
      button.addEventListener("click", () => setTheme(!this.isDark()));

      // Initialize button state to reflect current theme.
      setTheme(this.isDark());
    }

    isDark() {
      return document.documentElement.classList.contains("dark");
    }
  }
  customElements.define("theme-toggle", ThemeToggle);
  console.log(document.documentElement.classList);
</script>
