---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

// Import fonts
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/variable.css";
import "@fontsource/open-sans/400.css";
import "@fontsource/open-sans/variable.css";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body class="transition-colors">
    <div>
      <div
        id="cursor"
        class="rounded-full w-24 h-24 fixed pointer-events-none bg-orange-400/30 blur-2xl z-[10000]"
      >
      </div>
      <Nav />
      <slot />
      <Footer />
    </div>

    <script>
      // Add “loaded” class once the document has completely loaded.
      addEventListener("load", () =>
        document.documentElement.classList.add("loaded")
      );

      const cursor = document.getElementById("cursor");

      document.addEventListener("mousemove", function handleClick(event) {
        cursor!.style.top = event.clientY - 40 + "px";
        cursor!.style.left = event.clientX - 40 + "px";
      });
    </script>
  </body>
</html>
